# C++ Utilities
conan == 2.9.3
clang-format == 19.1.4

# Documentation
breathe == 4.35.0
furo == 2024.8.6
myst-parser == 4.0.0
sphinx == 8.1.3
sphinx-togglebutton == 0.3.2
sphinxcontrib-bibtex == 2.6.3
sphinxcontrib-video == 0.4.0

# Python Utilities
black
isort
mypy
flake8
